/* #game-board {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(9, 100px); 
    grid-template-rows: repeat(6,100px); 
}

.box{

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    font-size: 120px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
} */



::after, ::before {
    box-sizing: border-box;
}

#game-board { 
    margin: 0;
    display: grid;
    grid-template-columns: repeat(9, 4rem);
    grid-template-rows: repeat(15, 7rem);
    gap: .5rem;
    cursor: pointer;
    justify-items: center;
    padding-top: 1rem;
}

.box {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    border-radius: .5rem;
    user-select: none;
    display: flex;
}

.box::before,
.box::after {
    content: attr(data-value);
    font-size: 1rem;
    position: absolute;
}

.box::before {
    top: .5rem;
    left: .5rem;
}

.box::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}

.box[data-colour="red"] {
    color: red;
}

.box[data-colour="black"] {
    color: black;
}